<section
			class= "landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
			data-header-color="black"
		>
			<div class="z-30 relative h-full flex flex-col">
				<header>
					<h2 class="text-black pt-[107px] font-medium text-[40px]">
						Energia solar y Powerwall
					</h2>
					<p class="text-black">
						Totalmente electrico
					</p>
				</header>
				<footer class="flex flex-col flex-grow justify-end pb-20 ">
					<div >
								<a
								class="border-2 border-slate-900 text-sm rounded bg-slate-900 text-white font-medium  px-12 py-2 inline-block
								hover:text-black mx-2 hover:bg-white hover:border-white transition-colors duration-500"
								href="">Mas información</a>	
					</div>
				</footer>
			</div>

			<div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center z-10">
                <img class="object-center object-cover h-full w-full" src="./SolarPanels.avif" alt="">
            </div>
            
</section>



